body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #87CEFA;
}

canvas {
    background-color: #00008B;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

h1, h2, p {
    color: white;
}
